{{ if and (.Values.createSecret.enabled) (not .Values.credentials.externalSecret.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: versitygw
    app.kubernetes.io/instance: {{ .Values.bucketName }}
stringData:
  ROOT_ACCESS_KEY: {{ .Values.credentials.createSecret.accessKey }}
  ROOT_SECRET_KEY: {{ .Values.credentials.createSecret.secretKey }}
{{- else if and (not .Values.createSecret.enabled) (.Values.credentials.externalSecret.enabled) -}}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: versitygw
    app.kubernetes.io/instance: {{ .Values.bucketName }}
spec:
  refreshInterval: "1h"
  secretStoreRef: {{ - toYaml .Values.credentials.externalSecret.secretStoreRef | nindent 4 -}}
  data:
    - secretKey: ROOT_ACCESS_KEY
      remoteRef: {{ - toYaml .Values.credentials.externalSecret.accessKeyRef | nindent 8 -}}
    - secretKey: ROOT_SECRET_KEY
      remoteRef: {{ - toYaml .Values.credentials.externalSecret.secretKeyRef | nindent 8 -}}
{{- end -}}
