{{- if .Values.prometheusRule.enabled }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "diskprep.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "diskprep.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
{{- .Files.Get "files/alerts.yaml" | nindent 2 -}}
{{- end }}
