groups:
- name: diskprep.rules
  rules:
  - alert: LVMDiskPreparationFailure
    annotations:
      description: "LVM Disk Preparation has failed on {{ $labels.node }} with reason: {{ $labels.reason }}."
      summary: "LVM Disk Preparation has failed on one or more nodes."
    expr: lvm_diskprep_status{reason!="none"} == 1
    for: 5m
    labels:
      severity: warning
